ul.menu {
	padding: 0;
	display: flex;
    justify-content: flex-end;
    margin: 15px 100px 0 0;
	li {
		margin-right: 10px;
		text-transform: uppercase;
		transition: all 0.5s ease;
		a {
		
			font-size: 13px;
			padding: 10px;
			color: black;
		}
	}
	li,
	a {
		display: inline-block;
	}
	li:hover {
		background: $yellow;
	}
}